<h2>One Player Game</h2>

<% if player_name %>
  <h4>Welcome <%= player_name %></h4> 
  <%= erb :'forms/choose_move' %>
  <% if player_selection %>
    <%= result_message %>
    <h5>You chose <%= player_selection %>, and the computer chose <%= @computer_selection %></h5> 
  <% end %> 
  <%= erb :'forms/quit' %>     
<% else %>
  <%= erb :'forms/enter_name' %>
<% end %> 