<h2>Two Player Game</h2>

<% if player_name %>
  <h4>Welcome <%= player_name %></h4>
  <% if game_on? %>
    <%= erb :'forms/choose_move' %>
    <% if ready? %>
      <%= result_message %>
      <p>You chose <%= player_selection %>, and <%= opponent_name %> chose <%= opponent_selection %></p> 
    <% else %>
      <p>Waiting for <%= opponent_name %> to choose...</p>  
    <% end %>
    <%= erb :'forms/quit' %>
  <% else %>
    <p>Waiting for an opponent to join the game...</p>
  <% end %>       
<% else %>
  <%= erb :'forms/enter_name' %>
<% end %>    